# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
vendor/

# Binary build directory
bin/

# Log files
*.log

# macOS
.DS_Store